*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #04605d;
  --secondary: #97c23f;
  --background: #eaf3f2;
  --text: #333;
  --border: #ddd;
}

body {
  font-family: "Poppins", sans-serif;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 3.3rem;
    flex-direction: column;
    background-color: #092420e6;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    color: #fff;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  #cart-icon {
    margin-right: 20px;
  }

  .hamburger {
    margin-right: 20px;
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
