@import "tailwindcss";

/* CSS variables — define di :root, bukan di * */
:root {
  --color-primary: #04605d;
  --color-secondary: #97c23f;
  --color-grey: #7c7c7c;
  --background-white: #ebf2f2;
  --background-dark: #010101;
}

html {
  scroll-behavior: smooth;

  font:
    16px/1.5 "Poppins",
    sans-serif;
}

@import "./styles/global.css";
