@import "tailwindcss";
@import "./styles/global.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #04605d;
  --color-secondary: #97c23f;
  --background: #eaf3f2;
  --text: #333;
  --border: #ddd;
}
