@import "tailwindcss";

/* CSS variables — define di :root, bukan di * */
:root {
  --color-primary: #04605d;
  --color-secondary: #97c23f;
  --background: #eaf3f2;
}

html {
  scroll-behavior: smooth;
  font:
    16px/1.5 "Poppins",
    sans-serif;
}

@import "./styles/global.css";
